# Osa 1: Johdanto Jupyter-notebookin käyttöön
Tässä osassa tutustutaan Jupyter-notebook-ympäristöön.

<img src="https://upload.wikimedia.org/wikipedia/commons/3/38/Jupyter_logo.svg" alt="jupyter" style="width: 200px;"/>

[Jupyter-notebook](https://jupyter.org/) on interaktiivinen selaimella toimiva ja ohjailtava työkalu (Python tai R) koodin ja harjoitusten suorittamiseen ja jakamiseen. Koodia muokataan selaimella, mutta se suoritetaan palvelimella. Tällöin on mahdollista tehdä ohjata monimutkaisia suorituksia esimerkiksi älypuhelimen selaimella. Jupyteria käytetään paljon muun muassa seuraavilla aloilla:
* Koneoppiminen
* Data-analyysi
* Tiedon louhinta

Se sopii kuitenkin mainiosti myös koulutusten ja harjoitusten tekemiseen interaktiivisen luonteensa vuoksi. Osiota, joka sisältää tekstiä tai ajettavaa koodia kutsutaan **soluksi** (engl. cell). Solun voi ajaa valitsemalla sen klikkaamalla hiiren vasemmalla painikkeella mistä tahansa solun harmaalta alueelta  ja painamalla **CTRL+Enter** alla olevan esimerkin mukaisesti:

<img src="img/run_cell.gif" alt="open_terminal" style="width: 700px;"/>

Solun suoritus on käynnissä niin kauan kun hakasulkujen sisällä on tähti (`[*]`) ja suoritus on valmis, kun hakasulkujen sisälle ilmestyy numero (`[1]`).

Aja seuraavaksi alla oleva solu valitsemalla se ja painamalla **CTRL+ENTER**.

In [3]:
a = 1
print("a:n arvo on", a)

a:n arvo on 1

Solujen sisältämien muuttujien tieto jää muistiin ja niihin pääsee käsiksi myös muista soluista. Aja alla oleva solu kahdesti:

In [2]:
a += 1
print("a:n arvo on", a)

a:n arvo on 2

Jos suorituksesi keskeytyy ja palaat notebookkiin tietystä kohdasta, on suositeltavaa ajaa kaikki yllä olevat solut uudestaan: valitse haluamasi solu ja **Cell > Run All Above**.

## Harjoitukset
Harjoituksissa on usein annettu harjoituksen yksi mahdollinen malliratkaisu valmiina, sen saa esille painamalla **Näytä ratkaisu**-painiketta. Suosittelemme kuitenkin, että ratkaiset harjoituksen ilman että katsot ratkaisua etukäteen.

In [6]:
# kirjoita alle a = 5
a=5
print(a)

5

In [ ]:
# kirjoita alle a = 5
a = 5

Harjoituksissa voidaan tehdä tarkistuksia, onko haluttu lopputulos saavutettu vertailemalla muuttujan arvoa oletettuun arvoon. Aja alla oleva solu tarkistaaksesi, että edellisen kyselyn vastaus tosiaan on 1. **Kun vastaus on oikein, solu ei tulosta mitään.**

In [ ]:
assert a == 5, 'Saamasi vastaus ei ole oikein'

Jos vastauksesi (tai tässä tapauksessa testi) on väärin, saat virheviestin

In [ ]:
assert a == 6, 'Saamasi vastaus ei ole oikein'

## Komentorivi 
Yksi Jupyter Notebookin hyvistä puolista on se, että käyttäjien käytössä on myös pääsy palvelimen komentoriville suoraan selaimen kautta.

Komentorivi avataan [päänäkymästä](/tree) valitsemalla **New > Terminal**.

<img src="img/open_terminal.gif" alt="open_terminal" style="width: 700px;"/>

### SQL-solujen ajaminen
Tällä palvelimella on Jupyter Notebook lisäosa, joka mahdollistaa SQL-lauseiden ajaminen solujen sisällä.

Lataa aluksi lisäosa sql ajamalla alla oleva solu.

In [1]:
%load_ext sql

Käytön helpottamiseksi, käytä valmista python-funktiota `ipygis.get_connection_url` yhteysparametrien asettamiseksi.

In [3]:
from ipygis import get_connection_url
c_url = get_connection_url()
# Punainen $ on vain syntaksin värityksellinen ominaisuus
%sql $c_url
print(c_url)

postgresql://postgres:GtkPg2022@postgres_training:5432/postgres

SQL-solujen ajaminen tapahtuu samoin, kuin muidenkin solujen. Rivin edessä on vain `%sql`. Aja alla oleva solu suorittaaksesi yksinkertaisen SQL-lauseen:

In [4]:
a = %sql SELECT 1 a, 2 b, 3 c
a

 * postgresql://postgres:***@postgres_training:5432/postgres
1 rows affected.

[(1, 2, 3)]

Aja alla oleva solu ajaaksesi "monimutkaisemman" monen rivin lauseen (huomaa kaksi `%`-merkkiä):

In [5]:
%%sql 

SELECT 
1,
2,
3

 * postgresql://postgres:***@postgres_training:5432/postgres
1 rows affected.

[(1, 2, 3)]

Solun arvon saa tallennettua Python-muuttujaksi. Aja alla oleva solu.

In [6]:
b = %sql SELECT 1
b

 * postgresql://postgres:***@postgres_training:5432/postgres
1 rows affected.

[(1,)]

<a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nd/4.0/88x31.png" />