# Osa 3: Tietokannan ja taulujen luonti
Tässä osassa luodaan tietokanta, johon lisätään erilaisia tauluja.

## Tietokannan luominen
Tietokannan voi luoda useammalla eri tavalla.

<br></br>
### createdb
createdb on komentorivityökalu helpottamaan tietokannan luomista. Helpoimmillaan uuden tietokannan luominen onnistuukin komennolla:
```sh
createdb uuden_tietokannan_nimi
```
<img src="img/createdb.png" alt="createdb" style="width: 700px;"/>

> Kuten psql, myös createdb lukee tietokannan yhteysparametrit ympäristömuuttujista.

<br></br>
### PgAdmin
Kuten miltei kaikkeen muuhunkin, PgAdmin tarjoaa myös tietokantojen luomiseen ja poistamiseen graafisen ratkaisun: Klikkaa oikealla tietokantayhteydesta **> Create > Database**. 
<img src="img/createdb_pgadmin.gif" alt="createdb_pgadmin" style="width: 700px;"/>

### SQL
Perinteisin tapa tietokantojen luomiseen käy kuitenkin SQL:n kautta. Alla olevan komennon voi suorittaa psql:n tai PgAdminin [Query Toolin](H2_tyokalut.ipynb#Kyselytyökalun-käyttäminen-(Query-Tool)) avulla:

```sql
CREATE DATABASE uuden_tietokannan_nimi
```

## Tietokannan poistaminen

### dropdb
dropdb samoin kuin createdb on komentorivityökalu. Helpoimmillaan tietokannan voi poistaa komennolla:
```sh
dropdb poistettavan_tietokannan_nimi
```

<br></br>
### SQL
Samaan tapaan kuin luotaessa
```sql
DROP DATABASE poistettavan_tietokannan_nimi
```


## **Harjoitus 3.1**: Luo uusi tietokanta
Luo uusi tietokanta "koulutus" `createdb`:n, `pgAdmin`:in tai `psql`:n avulla.

<br></br>
### Tarkistus
Aja alla oleva solu yhdistääksesi luomaasi koulutus-tietokantaan ([SQL-solujen ohje](H1_jupyter_tutuksi.ipynb#SQL-solujen-ajaminen)).

In [6]:
# Lataa SQL-lisäosa
%load_ext sql
# Luo tietokantayhteys tietokantaan koulutus
from ipygis import get_connection_url
c_url = get_connection_url(dbname='koulutus')
%sql $c_url

The sql extension is already loaded. To reload it, use:
  %reload_ext sql


## Taulujen luominen
PostgreSQL tarjoaa monipuolisen tavan luoda tauluja, näkymiä ja materialisoituja näkymiä.

In [7]:
# Luo tietokantayhteys tietokantaan koulutus
from ipygis import get_connection_url
c_url = get_connection_url(dbname='koulutus')
%sql $c_url

Luodaan yksinkertainen tietokantataulu *kurssi* siten, että sillä on kentät koodi, nimi, pvm, tyyli ja kesto.

In [8]:
%%sql
DROP TABLE IF EXISTS kurssi CASCADE;

CREATE TABLE kurssi (
    koodi    varchar(5) CONSTRAINT firstkey PRIMARY KEY,
    nimi     text NOT NULL,
    pvm      date,
    tyyli    text,
    kesto    integer CHECK (kesto > 0)
);

COMMENT ON COLUMN kurssi.kesto IS 'Kurssin kesto tunteina';

 * postgresql://postgres:***@postgres_training:5432/koulutus
Done.
Done.
Done.

[]

Tauluja voi luoda myös SQL-kyselyiden tuloksien perusteella. Luodaan yksinkertainen taulu, johon tulisi kurssi-taulun rivit, joiden kesto on yksi.

In [9]:
%%sql
DROP TABLE IF EXISTS kurssi_1;

CREATE TABLE kurssi_1 AS (
    SELECT koodi, nimi, pvm, tyyli, 1 kesto FROM kurssi WHERE kesto = 1
);

 * postgresql://postgres:***@postgres_training:5432/koulutus
Done.
0 rows affected.

[]

Luonnollisestikin näkymä olisi järkevämpi vaihtoehto äskeiseen:

In [10]:
%%sql
DROP VIEW IF EXISTS kurssi_1_view;

CREATE view kurssi_1_view AS (
    SELECT koodi, nimi, pvm, tyyli, kesto FROM kurssi WHERE kesto = 1
);

 * postgresql://postgres:***@postgres_training:5432/koulutus
Done.
Done.

[]

### Rivien lisääminen
Tauluun voidaan lisätä rivejä `INSERT`-komennoilla, tai esimerkiksi kyselyjen tuloksien avulla

In [11]:
%%sql

INSERT INTO kurssi(koodi, nimi, pvm, tyyli, kesto) VALUES
    ('A1111', 'PG-peruskurssi', '2020-10-01', 'Jupyter', '15');

 * postgresql://postgres:***@postgres_training:5432/koulutus
1 rows affected.

[]

PostgreSQL:n avulla voi lisätä myös useamman rivin yhdellä kertaa ja jos arvot ovat samassa järjestyksessä, kuin kentät, ei kenttien nimiä tarvitse antaa

In [12]:
%%sql

INSERT INTO kurssi VALUES
    ('A1112', 'PG-kertaus', '2020-10-03', 'Jupyter', '1'),
    ('C1111', 'PG-peruskurssi', '2021-10-01', 'Jupyter', '15'),
    ('C1112', 'PG-seuraavan_vuoden', '2021-10-03', 'Jupyter', '1');

 * postgresql://postgres:***@postgres_training:5432/koulutus
3 rows affected.

[]

Rivejä voi lisätä myös kyselyjen tuloksena. Tässä hyödynnetään samalla  `WITH`-kyselyitä (CTE, Common Table Expressions).
```sql
WITH alikysely AS (SELECT 1 a, 2 b)

SELECT * FROM alikysely WHERE a = 1;
```

In [13]:
%%sql
WITH kertauskurssi AS (SELECT * FROM kurssi WHERE nimi like '%kertaus%')

INSERT INTO kurssi (
    SELECT 'B1111',  nimi, pvm, tyyli 
    FROM kertauskurssi
);

 * postgresql://postgres:***@postgres_training:5432/koulutus
1 rows affected.

[]

### Kyselyjen tekeminen
Tarkistetaan, että rivit ilmeistyivät tauluun. Tyypillisesti tähtikyselyitä tehdessä muista käyttää `LIMIT`-ehtoa rajoittaaksesi rivien määrää:

In [14]:
%sql SELECT * FROM kurssi LIMIT 10;

 * postgresql://postgres:***@postgres_training:5432/koulutus
5 rows affected.

[('A1111', 'PG-peruskurssi', datetime.date(2020, 10, 1), 'Jupyter', 15),
 ('A1112', 'PG-kertaus', datetime.date(2020, 10, 3), 'Jupyter', 1),
 ('C1111', 'PG-peruskurssi', datetime.date(2021, 10, 1), 'Jupyter', 15),
 ('C1112', 'PG-seuraavan_vuoden', datetime.date(2021, 10, 3), 'Jupyter', 1),
 ('B1111', 'PG-kertaus', datetime.date(2020, 10, 3), 'Jupyter', None)]

`WITH`-syntaksin avulla:

In [15]:
%%sql

WITH kertauskurssit AS (SELECT * FROM kurssi WHERE nimi LIKE '%kertaus%')
SELECT * FROM kertauskurssit ORDER BY koodi DESC;

 * postgresql://postgres:***@postgres_training:5432/koulutus
2 rows affected.

[('B1111', 'PG-kertaus', datetime.date(2020, 10, 3), 'Jupyter', None),
 ('A1112', 'PG-kertaus', datetime.date(2020, 10, 3), 'Jupyter', 1)]

Tarksitetaan vielä näkymän rivit:

In [16]:
%sql SELECT * FROM kurssi_1_view LIMIT 10;

 * postgresql://postgres:***@postgres_training:5432/koulutus
2 rows affected.

[('A1112', 'PG-kertaus', datetime.date(2020, 10, 3), 'Jupyter', 1),
 ('C1112', 'PG-seuraavan_vuoden', datetime.date(2021, 10, 3), 'Jupyter', 1)]

## **Harjoitus 3.2**
Harjoituksena on luoda uusi tietokantataulu `etunimet`, joka vastaa tiedoston [etunimet.csv](/edit/data/etunimet.csv) muotoa. Katso edeltäviä esimerkkejä kenttien tietotyyppien päättelemiseksi.

In [17]:
%%sql
DROP TABLE IF EXISTS etunimet;

CREATE ...

 * postgresql://postgres:***@postgres_training:5432/koulutus
Done.
(psycopg2.errors.SyntaxError) syntax error at or near ".."
LINE 1: CREATE ...
               ^

[SQL: CREATE ...]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [18]:
%%sql
DROP TABLE IF EXISTS etunimet;

CREATE TABLE etunimet (
  nimi text NOT NULL,
  lukumaara integer NOT NULL,
  sukupuoli text NOT NULL
)

 * postgresql://postgres:***@postgres_training:5432/koulutus
Done.
Done.

[]

Nyt lisää tiedoston sisältö tauluun. Tämän voi tehdä SQL:n avulla seuraavasti (superuser-käyttäjällä):

```sql
COPY etunimet(nimi, lukumaara, sukupuoli)
FROM '/home/oppilas/pg-training/Harjoitukset/data/<tiedoston-nimi>'
CSV HEADER;
```

tai [psql](H2_tyokalut.ipynb#psql): avulla. Tällöin ei tarvitse olla superuser-käyttäjä (muista kirjautua oikeaan tietokantaan `\c`komennolla):

```
\COPY etunimet FROM '/home/oppilas/pg-training/Harjoitukset/data/<tiedoston-nimi>' WITH CSV HEADER
```
> HEADER kuvaa sitä, että csv-tiedoston ensimmäinen rivi jätetään huomioimatta, sillä se sisältää sarakkeiden nimet.

Lisää tiedoston sisältö tauluun valitsemallasi tavalla.

In [19]:
%%sql

 * postgresql://postgres:***@postgres_training:5432/koulutus

In [20]:
%%sql

COPY etunimet(nimi, lukumaara, sukupuoli)
FROM '/home/oppilas/pg-training/Harjoitukset/data/etunimet.csv'
CSV HEADER

 * postgresql://postgres:***@postgres_training:5432/koulutus
21916 rows affected.

[]

### Tarkistus
Varmistu, että luomassasi taulussa on oikea määrä rivejä ja tutustu halutessasi dataan.

In [21]:
etunimet = %sql SELECT * FROM etunimet ORDER BY lukumaara DESC LIMIT 100;
assert len(etunimet) == 100, 'Taulussa ei ole edes sataa riviä. Tarkista yllä olevat kohdat ja poista tarvittaessa taulut DROP TABLE -komennolla'
etunimet

 * postgresql://postgres:***@postgres_training:5432/koulutus
100 rows affected.

[('Juhani', 285594, 'M'),
 ('Maria', 199656, 'N'),
 ('Olavi', 142900, 'M'),
 ('Antero', 138080, 'M'),
 ('Tapani', 136173, 'M'),
 ('Johannes', 134544, 'M'),
 ('Helena', 123632, 'N'),
 ('Anneli', 121314, 'N'),
 ('Tapio', 115625, 'M'),
 ('Johanna', 112331, 'N'),
 ('Mikael', 104244, 'M'),
 ('Kaarina', 97318, 'N'),
 ('Kalevi', 95004, 'M'),
 ('Marjatta', 87079, 'N'),
 ('Hannele', 86322, 'N'),
 ('Matti', 80193, 'M'),
 ('Pekka', 78536, 'M'),
 ('Kristiina', 75131, 'N'),
 ('Petteri', 73479, 'M'),
 ('Ilmari', 70419, 'M'),
 ('Emilia', 68454, 'N'),
 ('Liisa', 67254, 'N'),
 ('Sakari', 64782, 'M'),
 ('Elina', 64294, 'N'),
 ('Matias', 64134, 'M'),
 ('Sofia', 60502, 'N'),
 ('Tuulikki', 58570, 'N'),
 ('Maarit', 57584, 'N'),
 ('Susanna', 56869, 'N'),
 ('Annikki', 55757, 'N'),
 ('Antti', 55745, 'M'),
 ('Juha', 54013, 'M'),
 ('Kristian', 53399, 'M'),
 ('Heikki', 51658, 'M'),
 ('Timo', 48905, 'M'),
 ('Leena', 48387, 'N'),
 ('Katariina', 48011, 'N'),
 ('Anna', 46317, 'N'),
 ('Mikko', 45270, 'M'),
 ('Kari', 44752, 'M'),
 ('Marja', 44314, 'N'),
 ('Markus', 43405, 'M'),
 ('Sinikka', 43097, 'N'),
 ('Inkeri', 41090, 'N'),
 ('Jari', 40498, 'M'),
 ('Aleksi', 40144, 'M'),
 ('Jukka', 40068, 'M'),
 ('Riitta', 38764, 'N'),
 ('Markku', 38671, 'M'),
 ('Kalervo', 38155, 'M'),
 ('Jaakko', 38019, 'M'),
 ('Oskari', 37495, 'M'),
 ('Petri', 36899, 'M'),
 ('Mika', 36502, 'M'),
 ('Aino', 36244, 'N'),
 ('Henrik', 35661, 'M'),
 ('Lauri', 35272, 'M'),
 ('Kyllikki', 35138, 'N'),
 ('Anne', 35000, 'N'),
 ('Tuula', 34828, 'N'),
 ('Veikko', 34248, 'M'),
 ('Hannu', 33991, 'M'),
 ('Päivi', 33689, 'N'),
 ('Ville', 33257, 'M'),
 ('Erkki', 33227, 'M'),
 ('Seppo', 32654, 'M'),
 ('Orvokki', 32267, 'N'),
 ('Ritva', 31717, 'N'),
 ('Maija', 31424, 'N'),
 ('Tellervo', 31136, 'N'),
 ('Karoliina', 30556, 'N'),
 ('Valtteri', 30544, 'M'),
 ('Janne', 29972, 'M'),
 ('Pauliina', 29961, 'N'),
 ('Pirjo', 29778, 'N'),
 ('Ari', 29758, 'M'),
 ('Minna', 29620, 'N'),
 ('Marko', 29595, 'M'),
 ('Ensio', 29497, 'M'),
 ('Sari', 29332, 'N'),
 ('Irmeli', 28727, 'N'),
 ('Tuomas', 28151, 'M'),
 ('Sami', 27738, 'M'),
 ('Tiina', 27546, 'N'),
 ('Eveliina', 27491, 'N'),
 ('Pentti', 27269, 'M'),
 ('Eeva', 27269, 'N'),
 ('Laura', 26827, 'N'),
 ('Juho', 26718, 'M'),
 ('Marika', 26548, 'N'),
 ('Elias', 26262, 'M'),
 ('Tarja', 26127, 'N'),
 ('Elisabet', 26099, 'N'),
 ('Eero', 25482, 'M'),
 ('Erik', 25052, 'M'),
 ('Satu', 25022, 'N'),
 ('Pirkko', 24943, 'N'),
 ('Martti', 24615, 'M'),
 ('Mari', 24424, 'N'),
 ('Hanna', 24212, 'N')]

<a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nd/4.0/88x31.png" />